@import url("https://fonts.cdnfonts.com/css/open-sans");

.meet {
  background-color: var(--blue);
  padding-top: 5%;
  padding-bottom: 5%;
}

.meet .meet_container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meet .meet_text {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.meet .meet_image {
  width: 20rem;
  height: 20rem;
  background-color: var(--dark-blue);
  border-radius: 2rem;
  content: " ";
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 940px) {
  .meet .meet_container {
    width: 80%;
  }
}
