.services {
  padding-top: 3%;
  padding-bottom: 5%;
  height: 50%;
  background-color: var(--tan);
  color: var(--text);
}

.services h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.services .services_container {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem; /* Adjust the gap between grid items as needed */
  margin: auto;
  align-items: center;
  margin-top: 5%;
}

.services .single_service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services .single_service a {
  width: 12rem;
  color: var(--text);
}

.services .single_service img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 6px 3px 6px rgba(0, 0, 0, 0.5);
}

.services .single_service h4 {
  margin-top: 2%;
  font-family: "Playfair Display", sans-serif;
  text-align: center;
}

@media screen and (max-width: 940px) {
  .services .services_container {
    width: 90%;
    justify-content: center;
    grid-template-columns: auto;
  }

  .services .single_service {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
