.are_you {
  background-color: var(--overlay-dark-blue);
  height: 80%;
  padding-bottom: 5%;
  position: relative;
}

.are_you:before {
  content: "";
  background: url(/Users/BethM/Desktop/github/stephmassage/src/components/images/massage1.jpg)
    no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.are_you .are_you_container {
  margin: auto;
  text-align: center;
  width: 50%;
}

.are_you_container h1 {
  font-size: 4rem;
  padding-bottom: 5%;
  padding-top: 5%;
}

.are_you_container li {
  line-height: 3rem;
  font-size: 1.5rem;
  font-style: italic;
}

.are_you_container h3 {
  padding-top: 5%;
  font-size: 2rem;
}
