.intro_services {
  background-color: var(--pink);
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.intro_services h1 {
  font-size: 4rem;
  padding-bottom: 2%;
  width: 80%;
  margin: auto;
  font-family: "Playfair Display", sans-serif;
}

.intro_services .intro_services_container {
  text-align: center;
  margin: auto;
  width: 50%;
}

.intro_services .intro_services_container p {
  padding-bottom: 5%;
}
