.faq {
  padding-top: 10%;
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
}

.faq .faq_container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.faq .faq_accordion {
  width: 60%;
}

@media screen and (max-width: 940px) {
  .faq .faq_accordion {
    width: 100%;
  }
}
