.carousel {
  overflow: hidden;
  width: 800px;
  padding-bottom: 5%;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel_item {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: var(--tan);
  color: var(--text);
}

.indicators {
  display: flex;
  width: 40%;
  margin: auto;
  font-size: 2rem;
  justify-content: space-between;
  color: var(--text);
}
