.button {
  padding: 15px 25px;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--button-color, var(--pink));
  border: 1px solid var(--button-color, var(--pink));
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--button-hover-color, var(--dark-blue));
  border: 1px solid var(--button-hover-color, var(--dark-blue));
}
