@import url("https://fonts.cdnfonts.com/css/open-sans");

.services {
  padding-top: 3%;
  padding-bottom: 5%;
  height: 50%;
  background-color: var(--tan);
  color: var(--text);
}

.services .services_container {
  width: 70%;
  margin: auto;
}

.services .services_container h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.services .all_single_services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.services .all_single_services .single_service a {
  display: flex;
  flex-direction: column;
  width: 12rem;
  color: var(--text);
}

.services .all_single_services .single_service img {
  align-items: center;
}

.services .all_single_services .single_service h4 {
  margin-top: 4%;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  justify-content: center;
  text-align: center;
}
