/* .mini_FAQ {
  background-color: var(--pink);
} */

.mini_FAQ .mini_FAQ_container {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 5%;
  width: 80%;
  justify-content: space-between;
}

.mini_FAQ_accordion {
  width: 50%;
}

.collapsed_container {
  width: 100%;
}

.collapsed_container .rotate-icon {
  margin-left: auto;
}

.expanded_container {
  max-width: 100%;
  margin: 0 auto;
}

.mini_FAQ .meet_image {
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  content: " ";
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .mini_FAQ .mini_FAQ_accordion {
    width: 100%;
    padding-top: 10%;
  }

  .mini_FAQ .mini_FAQ_container {
    width: 60%;
  }

  .mini_FAQ .text_content {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .mini_FAQ .meet_image {
    width: 15rem;
    height: 15rem;
  }

  .mini_FAQ .text-content h1 {
    padding-top: 5%;
  }
}
