@import url("https://fonts.cdnfonts.com/css/playfair-display");

:root {
  --blue: #6fbfbe;
  --dark-blue: #008c8c;
  --pink: #dabcb4;
  --tan: #f3d5bd;
  --grey: #a3bcc0;
  --overlay: rgba(163, 188, 192, 0.7);
  --text: #0d0d0d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, "Playfair Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
  /* overflow: scroll; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
