.button {
  padding: 17px 28px;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}
